{% extends 'base.html' %}

{% block title %}Atendimento{% endblock title%}

{% block body %}
<main class="col grid" id="grid" role="grid">

    <div class="painel-senha col-align-items">
            <h1 class="">Senha</h1>
        {% if senha.msg %}
                    <p class="msg">
                        {{ senha.msg }}
                    </p>
        {% else%}
        <p class="senha">
                {{ senha.senha }}
            </p>
        {% endif %}

</div>
<div class="buttons row">
        {% if not senha.msg %}
        <a href="{% url 'chamar_senha_novamente' senha.id %}" >
            <button class="button">Chamar senha novamente</button>
        </a>
        {% endif %}
    
    <a href="{% url 'chamar_nova_senha' %}" >
            <button class="button">Chamar nova senha</button>
        </a>
</div>
    </main>

{% endblock body %}