{% extends 'base.html' %}
{% block title %}API{% endblock title%}
{% block body %}
    <div class="">
        <div class="">
            <h2>Documentação da API</h2>
        </div>
    <h3>Uso da API</h3>
    <h4>Código Simples</h4>
    <p><a href="https://repl.it/@DanielBarr/Apitest">Link</a></p>

    <h3>Endpoints</h3>
        <hr>
        <p>/api/senha</p>
        <p> - POST </p>
        <p>&emsp; - Cria uma nova senha</p>
        <p>&emsp; obs: Necessita de uma categoria e um tipo.</p>
        <p>- GET </p>
        <p>&emsp; - Retorna todas as senhas existentes.</p>
        <br>

        <hr>

        <p>/api/senha/categoria</p>
        <p>&ensp; - GET </p>
        <p>&emsp; - Retorna todas as categorias existentes no banco.</p>
        <br>

        <hr>

        <p>/api/senha/tipo</p>
        <p>&ensp; - GET </p>
        <p>&emsp; - Retorna todos os tipos existentes no banco.</p>
        <br>

        <hr>
        <p>/api/user/create</p>
        <p>&ensp; - POST </p>
        <p>&emsp; - Cria um usuário e a senha para acesso ao token da API. </p>
        <br>

        <hr>
        <p>/api/user/token</p>
        <p>&ensp; - POST </p>
        <p>&emsp; - Acesso com o usuário já cadastrado para a geração do token. </p>
        <br>

        <hr>

        <h3>GitHub - Link do Projeto</h3>
        <p><a href="https://github.com/dan-candeira/restAPI-SUAP">Acesse aqui!</a></p>






    </div>



{% endblock body %}