{% extends 'base.html' %}

{% block title %}Atendimento{% endblock title%}

{% block body %}
<h1 class="">Atendimento</h1>
<main class="col grid" id="grid" role="grid">

    <div class="container">

        {% if senha and status %}
                    <p class="item">
                        <p>{{senha}}</p>
                        <p>{{status}}</p>
                    </p>
        <button id="getSenha" class="button">Chamar nova senha</button>
            {% else %}
                <h3 class="item-error"> Nenhuma Senha Cadastrada!</h3>
            {% endif %}

    </div>
    <script>
        const button =
    </script>
{% endblock body %}