{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="col">
        <div class="row">
                {% block body %}
                {% endblock body %}
        </div>
    </div>
    <script src="{% static 'scripts/service.js'%}"></script>
</body>
</html>