{% extends 'base.html' %}
{% block title %}Principal{% endblock title%}
{% block body %}
{%load static%}
<main class="col grid" id="grid" role="grid">
    <div class="row">
        <div class="card-icons left">
                <h2>Painel de Cadastro</h2>
                <img class='svg' src="{% static 'img/attendance_panel.svg' %}" alt="Painel de Cadastro">
                <a href="{% url 'registrar' %}" >
                        <button class="button">Ir para Painel</button>
                </a>
        </div>
        <div class="card-icons right">
            <h2>Painel Atendimento</h2>
            <img class='svg' src="{% static 'img/browser.svg' %}" alt="Painel de Atendimento">
            <a href="{% url 'atendimento' %}" >
                    <button class="button">Ir para Painel</button>
            </a>
        </div>

    </div>
</main>
{% endblock body %}